__pycache__/
data/
tmp/
textbite.egg-info/
*.pkl
sources.txt
export.json
mapping.txt
textbite/existing_methods/stopwords/
/models/
test-data/
/visualization
/visualizations
/jsons
/inference-outputs
yolo-results-20-02-24/
yolo-results-02-03-24/
yolo-models-20-02-24/
yolo-models-02-03-24/
