__pycache__/
data/
tmp/
textbite.egg-info/
*.pkl
sources.txt
export.json
mapping.txt
textbite/existing_methods/stopwords/
/models/
test-data/
/visualization
/visualizations
/jsons
/inference-outputs
/yolo/
joiner-models/
/venv-old-transformers/
backup/
/joiner-inference-mlp/
/joiner-inference/
/joiner-inference-val/
/yolo-inference/
/yolo-inference-val/
