arabic-reshaper==3.0.0
brnolm==0.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.3
contourpy==1.0.7
cycler==0.11.0
data==0.4
decorator==5.1.1
Deprecated==1.2.14
filelock==3.12.0
fonttools==4.39.4
fsspec==2023.5.0
funcsigs==1.0.2
future==1.0.0
huggingface-hub==0.21.4
idna==3.4
imageio==2.31.2
imgaug==0.4.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
latex==0.7.0
lazy_loader==0.3
Levenshtein==0.21.1
lit==16.0.5
llvmlite==0.40.1
lmdb==1.4.1
lxml==4.9.3
MarkupSafe==2.1.2
matplotlib==3.8.4
mpmath==1.3.0
mypy==1.4.1
mypy-extensions==1.0.0
networkx==2.8.8
nltk==3.8.1
numba==0.57.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.8.0.76
packaging==23.1
pandas==2.1.4
Pillow==9.5.0
psutil==5.9.6
py-cpuinfo==9.0.0
pyamg==5.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-tsp==0.3.1
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0
rapidfuzz==3.2.0
regex==2023.5.5
requests==2.31.0
safe-gpu==1.5.1
safetensors==0.4.2
SciencePlots==2.1.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.13.0
segeval==2.0.11
-e git+ssh://git@github.com/Faz0lek/semant.git@a350eb104496b5f956654b6c0ebe58aa23d8471e#egg=semant
sentencepiece==0.1.99
Shapely==1.8.0
shutilwhich==1.1.0
six==1.16.0
sympy==1.12
tabulate==0.8.10
tempdir==0.7.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.8.30
tokenizers==0.15.2
tomli==2.0.1
torch==2.0.1
torch_geometric==2.4.0
torchvision==0.15.2
tqdm==4.65.0
transformers==4.38.2
triton==2.0.0
tsplib95==0.7.1
typing_extensions==4.6.1
tzdata==2023.3
ultralytics==8.0.231
urllib3==2.0.2
wrapt==1.15.0
